bash_aliases_private
mutt/account-*
mutt/aliases
mutt/cache/
mutt/certificates
awesome/debian
awesome/icons-bw
awesome/icons-old

/vim/spell/
/vim/doc/tags
/vim/bundle/
/vim/tags/
*.pyc
.netrwhist
/vim/view/
